body {
    background-color: #F6F3EA;
    color: #474B60;   
}

#title {
    font-size: 50px;
    text-align: center;
}

#ludo {
    width: 20%;
    margin: auto;
    display: block;
}

.links {
    display: flex;
    justify-content: space-evenly;
}
    /* padding-left: 35%;
    padding-top: 5%;
    */

.div {
    display: inline-flex;
}
    /* remove the original setting below to use the above flex container
    text-align: center;
    font-size: x-large;*/